
label {
  display: inline-block;
  margin-bottom: .5rem;
}
a {
  text-decoration: none;
}

.post {
  &_items{
    margin: 0 auto;
  }
  &_item {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
  }
  &_likes {
    margin: 0 5px;
    cursor: pointer;

    i {
      margin-right: 8px;
    }
  }
  &_comments_count {
    margin: 0 5px;
    cursor: pointer;
    
    i {
      margin-right: 8px;
    }
  }
  &_comments {
    display: none;
  }
  &_comment {
    margin: 10px auto;

    p {
      border: 1px solid grey;
      margin: 0;
      padding: 10px;
      border-radius: 5px;
    }

    &_like {
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.show {
  display: block;
}